{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    
{% endblock titulo %}
   

{% block contenido %}
    <center><table>
        <tr>
            <td width="200"><h2>Inmueble</h2></td>
            <td>
                <a
                href = "{% url 'AgregarInmueble' %}"
                class = "btn btn-primary btn-sm">
                <i class = "fa fa-plus fa-lg" title = "Agregar"></i>
            </a>
            </td>
        </tr>
    </table></center>

    <center><table class = "table">
        <thead>
            <tr>
                <th>Direccion</th>
                <th>Piso</th>
                <th>Depto</th>
                <th>Precio</th>
                <th>Caracteristicas</th>
                <th>Fotos</th>
            </tr>
            {% for i in inmueble_list %}
                <tr>
                    <td>{{ i.direccion }}</td>
                    <td>{{ i.piso }}</td>
                    <td>{{ i.depto }}</td>
                    <td>{{ i.precio }}</td>
                    <td>{{ i.caracteristicas }}</td>
                    <td>{{ i.fotos }}</td>
                    
                    <td>
                        <a
                        href="{% url 'EditarInmueble' i.id %}"
                        class="btn btn-primary"
                        style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-si: .5rem">
                        <i class = "fa fa-edit fa-sm" title = "Editar"></i>
                    </a>
                    <a
                        href="{% url 'BorrarInmueble' i.id %}"
                        class = "btn btn-primary"
                        style = "--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem; --bs-btn-font-si: .5rem">
                        <i class = "fa fa-delete fa-sm" title = "Borrar"></i>
                    </a>
                    </td>
                </tr>           
            {% endfor %}
        </thead>
    </table></center>
    
{% endblock contenido %}